body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.success-message {
    color: #4CAF50;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    margin-top: 10px;
}

button[type="submit"]:disabled {
    background-color: #ccc; /* Altere a cor de fundo para uma cor mais clara */
    cursor: not-allowed; /* Altera o cursor para indicar que não está disponível */
}

button[type="submit"]:disabled:hover {
    background-color: #ccc; /* Mantém a mesma cor de fundo quando o botão é desabilitado e o cursor está sobre ele */
}