<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPE - Prova de conceito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <div style="text-align: center">
                <img style="width:200px" src="{{ url_for('static', filename='logo_stj.svg') }}">
            </div>
            <h2>Prova de Conceito CPE</h2>
            {% if success_message %}
                <p class="success-message">{{ success_message }}</p>
            {% endif %}
            <form id="upload-form" action="http://localhost:5000/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit" id="submit-btn">Enviar</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            var submitBtn = document.getElementById('submit-btn');
            submitBtn.disabled = true;
            submitBtn.textContent = 'Aguarde...';
        });
    </script>
</body>
</html>